@{
     ViewBag.Title = "About";
     Layout = "~/Views/Shared/_Layout_XScripts.cshtml";
}

<!-- title start -->
<section class="page-header-box bg-primary">
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-12">
                    <div class="text-center">
                         <h3 class="page-header-title text-white">Blog Details</h3>
                         <ol class="breadcrumb mb-0">
                              <li class="breadcrumb-item"><a href="#">Minton</a></li>
                              <li class="breadcrumb-item"><a href="#">Pages</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                         </ol>
                    </div>
               </div>
          </div> <!--end row-->
     </div> <!--end container-->
</section>
<!-- title end -->
<!-- blog start -->
<section class="section">
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-8">
                    <div class="blog-details-box">
                         <div class="card overflow-hidden mb-4">
                              <div class="blog-img">
                                   <img src="~/Content/themes/base/images/blog/blog-details.jpg" alt="blog post with image" class="img-fluid mx-auto d-block">
                              </div>
                              <div class="blog-content p-3 mx-3">
                                   <h4 class="mt-0"><a href="blog-details.html" class="text-dark">Beautiful Day With Friends In Paris</a></h4>
                                   <p class="text-muted mb-0">If several languages coalesce, the grammar of the resulting language</p>
                              </div>
                              <div class="text-muted p-4">
                                   <ul class="list-inline post-meta mb-4">
                                        <li class="list-inline-item"><i class="mdi mdi-calendar mr-1"></i> 04 May, 2017</li>
                                        <li class="list-inline-item">
                                             <a href="#"><i class="mdi mdi-tag-text-outline mr-1"></i> Travel</a>, <a href="#">Photography</a>
                                        </li>
                                        <li class="list-inline-item">
                                             <a href="#"><i class="mdi mdi-comment-multiple-outline"></i> 3 Comments</a>
                                        </li>
                                   </ul>
                                   <p>If several languages coalesce the grammar of the resulting language is more simple and regular than that of the individual languages the new common be as simple as occidental in fact it will be occidental.</p>
                                   <p>To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                                   <blockquote class="blockquote bg-light p-3 rounded my-4">
                                        <div class="blockquote-icon">
                                             <i class="mdi mdi-format-quote-open display-4"></i>
                                        </div>
                                        <p class="text-dark">
                                             New common language will be more simple and regular than European languages
                                        </p>
                                        <footer class="blockquote-footer font-14">
                                             Someone famous in <cite title="Source Title">Source Title</cite>
                                        </footer>
                                   </blockquote>
                                   <p>Everyone realizes why a new common language would be desirable one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language.</p>
                                   <p class="mb-0">For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words</p>
                              </div>
                         </div>
                         <!-- end card -->

                         <div class="card mb-4">
                              <div class="card-body p-4">
                                   <h5 class="font-18 mt-0">Comments</h5>
                                   <hr>
                                   <ul class="media-list mb-0 p-3">

                                        <li class="media">
                                             <a href="#">
                                                  <img class="media-object avatar-md rounded-circle" src="~/Content/themes/base/images/users/img-1.png" alt="img">
                                             </a>

                                             <div class="media-body ml-3">
                                                  <a href="#" class="float-right text-primary"><i class="mdi mdi-reply"></i> Reply</a>
                                                  <h5 class="mt-0 font-16">Michelle Duran</h5>
                                                  <p class="text-muted">05 May, 2019, 11:45 am</p>
                                                  <p class="text-muted">It will be as simple as Occidental; in fact, it will be occidental. To an English person, it will seem like simplified english, as a skeptical Cambridge friend of mine told me what occidental.</p>
                                             </div>
                                        </li>

                                        <li class="media mt-3">
                                             <a href="#">
                                                  <img class="media-object avatar-md rounded-circle" src="~/Content/themes/base/images/users/img-2.png" alt="img">
                                             </a>

                                             <div class="media-body ml-3">
                                                  <a href="#" class="float-right text-primary"><i class="mdi mdi-reply"></i> Reply</a>
                                                  <h5 class="mt-0 font-16">Ronda Otoole</h5>
                                                  <p class="text-muted">06 May, 2019, 11:52 am</p>
                                                  <p class="text-muted mb-4">Nulla venenatis in pede mi aliquet sit amet euismod i, auctor ut ligula aliquam dapibus tincidunt metus praesent justo dolor lobortis quis lobortis dignissim pulvinar ac.</p>

                                                  <div class="media sub_media mt-2">
                                                       <a href="#">
                                                            <img class="media-object avatar-md rounded-circle" src="~/Content/themes/base/images/users/img-3.png" alt="img">
                                                       </a>
                                                       <div class="media-body ml-3">
                                                            <a href="#" class="float-right text-primary"><i class="mdi mdi-reply"></i> Reply</a>
                                                            <h5 class="mt-0 font-16">James Whitley</h5>
                                                            <p class="text-muted">06 May, 2019, 12:24 pm</p>
                                                            <p class="text-muted">Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </li>

                                        <li class="media mt-3">
                                             <a href="#">
                                                  <img class="media-object avatar-md rounded-circle" src="~/Content/themes/base/images/users/img-1.png" alt="">
                                             </a>
                                             <div class="media-body ml-3">
                                                  <a href="#" class="float-right text-primary"><i class="mdi mdi-reply"></i> Reply</a>
                                                  <h5 class="mt-0 font-16">Kimberly Chretien</h5>
                                                  <p class="text-muted">07 May, 2019, 11:45 am</p>
                                                  <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages the new common language</p>
                                             </div>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                         <!-- end card -->

                         <div class="card">
                              <div class="card-body p-4">
                                   <h5 class="font-18">Comments</h5>
                                   <hr>
                                   <div class="row">
                                        <div class="col-lg-12">
                                             <form class="form-main">
                                                  <div class="row mt-4">
                                                       <div class="col-lg-6">
                                                            <div class="form-group">
                                                                 <label for="name2">Name</label>
                                                                 <input name="name" id="name2" type="text" class="form-control" placeholder="Your name...">
                                                            </div>
                                                       </div>
                                                       <div class="col-lg-6">
                                                            <div class="form-group">
                                                                 <label for="email2">Email address</label>
                                                                 <input name="email" id="email2" type="email" class="form-control" placeholder="Your email...">
                                                            </div>
                                                       </div>
                                                  </div>

                                                  <div class="row">
                                                       <div class="col-lg-12">
                                                            <div class="form-group">
                                                                 <label for="subject2">Subject</label>
                                                                 <input name="name" id="subject2" type="text" class="form-control" placeholder="Your subject...">
                                                            </div>
                                                       </div>
                                                  </div>

                                                  <div class="row">
                                                       <div class="col-lg-12">
                                                            <div class="form-group">
                                                                 <label for="comments2">Message</label>
                                                                 <textarea name="comments" id="comments2" rows="4" class="form-control" placeholder="Your message..."></textarea>
                                                            </div>
                                                       </div>
                                                  </div>

                                                  <div class="row">
                                                       <div class="col-lg-12">
                                                            <div class="text-right">
                                                                 <button type="submit" class="btn btn-primary" id="send">Submit <i class="mdi mdi-send ml-2"></i></button>
                                                            </div>
                                                       </div> <!-- /col -->
                                                  </div> <!-- /row -->
                                             </form> <!-- /form -->
                                        </div> <!-- end col -->
                                   </div><!-- end row -->

                              </div>
                         </div>
                    </div>
                    <!-- end blog-detail-box -->
               </div>
               <!-- end col -->
               <div class="col-lg-4">
                    <div class="blog-right-sidebar">
                         <div class="widget widget-search card mb-4">
                              <div class="card-body">
                                   <form>
                                        <input class="form-control" type="search" placeholder="Search...">
                                        <button class="search-button" type="submit">
                                             <i class="mdi mdi-magnify"></i>
                                        </button>
                                   </form>
                              </div>
                         </div>

                         <div class="widget widget-categories card mb-4">
                              <div class="p-4">
                                   <h4 class="widget-title mt-0">Categories</h4>
                                   <hr>
                                   <ul class="list-unstyled mb-0">
                                        <li><a href="#"><i class="pe-7s-car float-left mr-2 text-primary font-22"></i> Travel <span class="float-right">(40)</span></a></li>
                                        <li><a href="#"><i class="pe-7s-camera float-left mr-2 text-primary font-22"></i> Photography<span class="float-right">(08)</span></a></a></li>
                                        <li><a href="#"><i class="pe-7s-users float-left mr-2 text-primary font-22"></i>Lifestyle<span class="float-right">(11)</span></a></a></li>
                                        <li><a href="#"><i class="pe-7s-wine float-left mr-2 text-primary font-22"></i>Food & Drinks<span class="float-right">(24)</span></a></a></li>
                                   </ul>
                              </div>
                         </div>

                         <div class="widget widget-popular-post card mb-4">
                              <div class="p-4">
                                   <h4 class="widget-title mt-0">Popular Posts</h4>
                                   <hr>
                                   <div>
                                        <div class="popular-post media">
                                             <img src="~/Content/themes/base/images/blog/img-1.jpg" class="img-fluid rounded mr-3" alt="">
                                             <div class="media-body">
                                                  <h5 class="mt-0 font-14"><a href="#" class="text-dark">Orange plant on a table</a></h5>
                                                  <span class="text-muted">04 May, 2019</span>

                                             </div>
                                        </div>
                                        <div class="popular-post media">
                                             <img src="~/Content/themes/base/images/blog/img-2.jpg" class="img-fluid rounded mr-3" alt="">
                                             <div class="media-body">
                                                  <h5 class="mt-0 font-14"><a href="#" class="text-dark">Beautiful Day In Paris</a></h5>
                                                  <span class="text-muted">05 May, 2019</span>
                                             </div>
                                        </div>
                                        <div class="popular-post media">
                                             <img src="~/Content/themes/base/images/blog/img-3.jpg" class="img-fluid rounded mr-3" alt="">
                                             <div class="media-body">
                                                  <h5 class="mt-0 font-14"><a href="#" class="text-dark">A person riding a bicycle</a></h5>
                                                  <span class="text-muted">06 May, 2019</span>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="widget card mb-4">
                              <div class="p-4">
                                   <h4 class="widget-title mt-0">Archives</h4>
                                   <hr>
                                   <ul class="list-unstyled mb-0">
                                        <li><a href="#">May <span class="float-right">(40)</span></a></li>
                                        <li><a href="#">April<span class="float-right">(08)</span></a></a></li>
                                        <li><a href="#">March<span class="float-right">(11)</span></a></a></li>
                                        <li><a href="#">February<span class="float-right">(24)</span></a></a></li>
                                   </ul>
                              </div>
                         </div>

                         <div class="widget widget-tag-cloud card mb-4">
                              <div class="p-4">
                                   <h4 class="widget-title mt-0">
                                        Tags</h5>
                                        <hr>
                                        <div class="tagcloud">
                                             <a href="#">Logo</a>
                                             <a href="#">Business</a>
                                             <a href="#">Corporate</a>
                                             <a href="#">E-commerce</a>
                                             <a href="#">Agency</a>
                                             <a href="#">Responsive</a>
                                        </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <!-- end row -->
     </div>
     <!-- end container-fluid -->
</section>
<!-- blog end -->